/*.taxonomy-description {
	text-align: center;
	display:none;
	font-size: 30px;
}
.product-category-image, .entry-content img.product-category-image {
	width: 100%;
	max-width: 100%;
}
h1.entry-title.product-listing-name::before {
	display: none;
}
.content-area {
	width: 100%;
}
.content-area > .site-main:nth-of-type(1){
	display: flex;
	justify-content: center;
}
.al_archive {
	box-shadow: 0 0 5px #ff3f34;
	width: 30.5%;
}
.al_archive .product-name {
	background-color: rgb(255, 63, 52);
	background-color: rgba(255, 63, 52, 0.8);
	box-shadow: 0 0 5px #ff3f34;
}
.entry-title {
	border: 2px inset #ff9e99;
	padding: 7px;
	font-size: 55px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	width: 225px;
	text-align: center;
}
.entry-header {
	background-color: #dbc0bd;
	border-radius: 5px;
	margin-top: 10px;
	display: flex;
	justify-content: center;
}
h1.entry-title.product-listing-name {
	margin-top: 10px;
}
article#product_listing {
	margin-top: 65px;
}
.al_archive .product-name,
#product_listing .al_archive .product-name,
#product_listing .al_archive h3.product-name {
	background-color: rgb(255, 63, 52);
	background-color: rgba(255, 63, 52, 0.8);
	box-shadow: 0 0 5px #ff3f34;
}
.taxonomy-image {
	margin-right: 20px;
}
.al_archive.product-54.modern-grid-element.green-box.ic-design.publish {
	margin-top: 75px;
}*/

/*Refonte*/
.wrapper_deco{
	padding-top: 140px;
	padding-bottom: 50px;
}
.ariane ul li{
	display: inline;
	list-style-type: none;
}
.a
.box_item{
	padding: 0 10px;
	height: 315px;
	margin: 10px 0;
}
.item{
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.12),0 1px 2px 0 rgba(0,0,0,.24);
	background-color: #FF8A65;
	height: 100%;
}
.item img{
	z-index: 0;
}
.title{
	z-index: 1;
}
.title h3{
	line-height: 220px;
	text-align: center;
}
button{
	padding: 5px 40px;
	border: 0;
	background-color: #ff3f34;
	margin:0 auto;
	display: block;
	color: white;

}
/*Medias Queries*/

@media screen and (max-width: 1280px){
			.box_item{
				margin: 20px 0;
			}
}
