.taxonomy-description {
	text-align: center;
	display:none;
	font-size: 30px;
}
.product-category-image, .entry-content img.product-category-image {
	width: 100%;
	max-width: 100%;
}
h1.entry-title.product-listing-name::before {
	display: none;
}
.content-area {
	width: 100%;
}
.content-area > .site-main:nth-of-type(1){
	display: flex;
	justify-content: center;
}
.al_archive {
	box-shadow: 0 0 5px #ff3f34;
	width: 30.5%;
}
.al_archive .product-name {
	background-color: rgb(255, 63, 52);
	background-color: rgba(255, 63, 52, 0.8);
	box-shadow: 0 0 5px #ff3f34;
}
.entry-title {
	border: 2px inset #ff9e99;
	padding: 7px;
	font-size: 55px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	width: 225px;
	text-align: center;
}
.entry-header {
	background-color: #dbc0bd;
	border-radius: 5px;
	margin-top: 10px;
	display: flex;
	justify-content: center;
}
h1.entry-title.product-listing-name {
	margin-top: 10px;
}
article#product_listing {
	margin-top: 65px;
}
.al_archive .product-name,
#product_listing .al_archive .product-name,
#product_listing .al_archive h3.product-name {
	background-color: rgb(255, 63, 52);
	background-color: rgba(255, 63, 52, 0.8);
	box-shadow: 0 0 5px #ff3f34;
}
.taxonomy-image {
	margin-right: 20px;
}
.al_archive.product-54.modern-grid-element.green-box.ic-design.publish {
	margin-top: 75px;
}
