/* connection box - beginning */
.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	text-align: center;
	justify-content: center;
	align-items: center;
}
.zmdi-info-outline:before {
	content: '\f1f7';
}
.modal-content {
	background-color: #FAFAFA;
    height: auto;/*400px;*/
    width: 650px;
    border-radius: 2px;
}
.modal-body .icon_info i, .modal-body h3, .modal-body p, .modal-body span{
	color: #616161;
	text-align: center;
}
.modal-body h3{
	margin-top: 25px;
	margin-bottom: 15px;
	font-size: 35px;
	text-transform: capitalize;
}
.modal-body p{
	font-size: 15px;
}
.modal-body button{
    color: #FAFAFA;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 10px;
	background: #ff3f34;
	border: 0px none;
}
.modal-body .icon_info{
	height: auto;
	width: 100%;
	margin-top: 15px;
	text-align: center;
}
.modal-body i{
	font-size: 140px;
	color: white;
}
@media screen and (max-width: 768px) {
	.modal-body { max-height: 100%; }
	.modal-body p { font-size: 12px; }
	.modal-body h3 { font-size: 20px; }
	.modal-content {
		width: 300px;
	}
	.modal-body i{
		font-size: 100px;
	}
	.close {
		font-size: 30px;
	}
}
.close {
    margin-top: 5px;
    margin-right: 5px;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 0;
	text-align: center;
	top: -15px;
	width: 24px;
	opacity:1;
	text-decoration: none;
	font-weight: bold;
}
.close:hover{
    color: #FF7043;
}
button:hover{
    color:#BF360C;
}
.modal-body {
	padding: 0;
}
.modal-content, #caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
	from { -webkit-transform:scale(0) }
	to { -webkit-transform:scale(1) }
}
@keyframes zoom {
	from { transform:scale(0) }
	to { transform:scale(1) }
}
/* connection box - end */

.container-traiteur {
	width: 100%;
	padding-top: 140px;
  padding-bottom: 2%
}
.prix_traiteur {
	color: #ff3f34;
	font-weight: bold;
}
.img-foreground {
	height: 40vh;
	padding: 0;
	background-size: cover;
	display: flex;
	align-items: center;
	box-shadow: 1px 1px 2px rgba(0,0,0,.12);
}
.img-foreground p {
  font-family: 'OpenSans-Bold',sans-serif;
  color: #FFFFFF;
  line-height: 50px;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 768px) {
	.img-foreground {
		margin-top: 25px;
	}
}
.price-ground {
  	height: 30vh;
	overflow-y: scroll;
	background-color: #fff;
	text-align: center;
	box-shadow: 1px 1px 2px rgba(0,0,0,.12);
}
.price-ground ul {
	padding-inline-start: 0;
}
.price-ground li {
  font-family: 'Opensans-Regular', sans;
	font-size: 1.3rem;
	list-style-type: none;
	padding: 10px 0 5px 0;
	position: relative;
}
.price-ground li:before {
	content: "";
	position: absolute;
	left: 35%;
	bottom: 0;
	width: 30%;
	border-bottom: 1px solid #ff3f34;
}

/* scrollbars */
.price-ground::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.price-ground::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}
.price-ground::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #FF5D34;
}
